body{
    background: rgb(189, 240, 238);
    font-family: 'Space Mono', monospace;
    align-items: center;
}

h2 {
    font-size: 150%;
    color: rgb(5, 87, 75);
    text-align: center;
}

main {
    background: white;
    color: rgb(5, 87, 75);
    padding: 8%;
    padding-top: 2%;
    border-radius: 1rem;
    max-width: 400px;
    margin: auto;
    margin-top: 40px;
}
section {
    display: flex;
    flex-direction: column;
}
.billCont {
    width: 80%;
    margin: auto;
}
input, select {
    /* display:block; */
    text-align: center;
    padding-top: 4%;
}
input{
    width: 50%;
}
select{
    width: 50%;

}

/* #numberOfPerson #mealTotal #tipPercentage #province {
    margin-left: 5%;
} */


input, select{
  background-color: rgb(222, 245, 243);
  color: rgb(5, 87, 75);
  padding: 10px 10px;
  margin: 7px 0;
  border:rgb(5, 87, 75) ;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  display: flex;
}

.output{
    margin-top: 4%;
    background: rgb(5, 87, 75);
    color: rgb(167, 235, 225);
    border-radius: 1rem;
    padding: 5%;
    padding-top: 1%;
    /* text-align: justify; */
}

.output h2{
    color: rgb(167, 235, 225);

}

.outputLabel {
    /* text-align: center; */
    /* justify-content:right; */
    display: flex;
    flex-direction: column;
    min-width: 300px;
    margin: auto;
}

.outputLabel span{
    color: white;
}

